@import '../../assets/scss/variables';

.my-account {
    margin: 0 165px 0 165px;

    .my-account-title {
        margin-top: 60px;
        margin-bottom: 16px;
        font-family: $sharpGroteskSemiBoldFont;
        font-weight: 600;
        font-size: 32px;
        line-height: 140%;
        color: black;
    }
    .my-account-description {
        width: 511px;
        font-family: $spaceGroteskFont;
        font-size: 18px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 40px;
    }

    .account-grid-container{
        display: grid;
        grid-template-columns: auto;

        .account-name{
            display: flex;
            width: 100%;
            height: 80px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);

            button{
                width: 120px;
            }
            .account-name-default-text{
                font-family: $spaceGroteskFont;
                font-size: 16px;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.4);
            }
            .account-profile-name{
                font-family: $spaceGroteskFont;
                font-size: 16px;
                line-height: 20px;
                color: $black;
            }
            h5{
                font-family: $spaceGroteskFont;
                font-size: 14px;
            }
            
        }

        .account-cover-image {
            display: flex;
            width: 100%;
            height: 120px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            
            .account-picture{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 1px solid rgba(0, 0, 0, 0.1);

                .default-img{
                    padding-left: 23px;
                    padding-top: 23px;
                    
                }
                .cover-img{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            button{
                width: 157px;
            }

            p{
                display: flex;
                text-align: right;
                font-family: $spaceGroteskFont;
                font-size: 14px;
                line-height: 22px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.6);
            }
            h5{
                font-family: $spaceGroteskFont;
                font-size: 14px;
            }
        }

        .account-website-link {
            display: flex;
            width: 100%;
            height: 80px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-family: $spaceGroteskFont;
            font-size: 16px;
            line-height: 20px;

            button{
                width: 120px;
            }
            .link-default-text{
                color: rgba(0, 0, 0, 0.4);
            }
            link-account-text{
                color: $black;
            }
            h5{
                font-family: $spaceGroteskFont;
                font-size: 14px;
            }
        }

        .account-grid-name{
            display: flex;
            width: 285px;
            align-items: center;
            font-family: $spaceGroteskFont;
            font-size: 14px;
            line-height: 22px;
        }

        .account-grid-input {
            display: flex;
            align-items: center;
            width: 660px;

            input{
                width: 540px;
                height: 50px;
                border-radius: 12px;
            }
            h5{
                font-family: $spaceGroteskFont;
                font-size: 16px;
            }
            
        }
        .cover{
            justify-content: space-between;
        }

        .account-grid-button {
            display: grid;
            align-items: center;
            justify-content: end;
            width: 186px;

            button {

                img{
                    padding-left: 5px;
                }
            }
        }
    }
}